@model EINVOICE_BLUESEA.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div id="slogan" class="Home Index">
    <div class="slogan">
        <div class="h1">HÓA ĐƠN ĐIỆN TỬ BLUESEA <br> B-INVOICE</div>
        <div class="h3">Phát hành nhanh - An toàn, bảo mật - Tiết kiệm chi phí.</div>
    </div>
</div>



<div class="mySection light">
    <div class="container mySectionText">
        <h1 class="mySectionSubTitle text-center"> B-INVOICE DỊCH VỤ HÓA ĐƠN ĐIỆN TỬ BLUESEA</h1>
        <div class="row">
            <div class="col-sm-6">
                <a href="~/img/bs-invoice.jpg" data-lightbox="vnpt" data-title="Hóa đơn điện tử BLUESEA Invoice">
                    <img src="~/img/bs-invoice.jpg" class="img-responsive" alt="Hóa đơn điện tử BLUESEA Invoice">
                </a>
            </div>
            <div class="col-sm-6">
                <p>
                    Hóa đơn điện tử là tập hợp các thông điệp dữ liệu điện tử về: bán hàng hóa, cung ứng dịch vụ. Cho phép các đơn vị, tổ chức có các hoạt động bán hàng hóa, cung ứng dịch vụ có thể
                    <strong>phát hành, khởi tạo, lập, gửi, nhận, lưu trữ và quản lý hóa đơn bằng phương tiện điện tử</strong>. Được khởi tạo, lập, xử lý và lưu trữ trên máy tính theo quy định của pháp luật về giao dịch điện tử.

                </p><div class="text-right"><i>(Thông tư 32/2011/TT-BTC ngày 14/03/2011)</i></div>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="mySection bgImg">
    <div class="container mySectionText">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mySectionSubTitle text-center">ĐIỀU KIỆN SỬ DỤNG HÓA ĐƠN ĐIỆN TỬ</h2>
                <p class="item">
                    •	Bao gồm những tổ chức có đủ điều kiện và đang thực hiện giao dịch điện tử trong khai thuế với cơ quan thuế hoặc trong hoạt động ngân hàng;<br>
                    •	Có chữ ký điện tử theo đúng quy định của pháp luật;<br>
                    •	Có địa điểm, các đường truyền tải thông tin, mạng thông tin, thiết bị truyền tin đáp
                    ứng yêu cầu khai thác, kiểm soát, xử lý, sử dụng, bảo quản và lưu trữ hóa đơn điện tử;<br>
                    •	Có đội ngũ người thực thi đủ trình độ để thực hiện việc khởi tạo, lập, sử dụng hóa đơn điện tử theo quy định.<br>
                </p><div class="text-right"><i>(Khoản 2, Điều 4 Thông tư 32/2011/TT-BTC ngày 14/03/2011).</i></div>
                <p></p>
            </div>
        </div>
    </div>
</div>


<div class="mySection ">
    <div class="container mySectionText">
        <h2 class="mySectionSubTitle text-center">LỢI ÍCH CỦA HÓA ĐƠN ĐIỆN TỬ <abbr title="Tập đoàn Bưu chính Viễn thông Việt Nam">B</abbr>-INVOICE?</h2>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center"><strong>Khám phá lợi ích <abbr title="Tập đoàn Bưu chính Viễn thông Việt Nam">B</abbr>–INVOICE  mang lại cho doanh nghiệp bạn</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>Tiết kiệm chi phí <span class="myInlineBlock" data-wow="zoomIn">80%</span> so với hóa đơn giấy</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <a href="~/img/tiet-kiem-chi-phi.jpg" data-lightbox="vnpt" data-title="Hóa đơn điện tử BLUESEA tiết kiệm chi phí">
                    <img class="img-responsive" src="~/img/tiet-kiem-chi-phi.jpg" alt="Hóa đơn điện tử BLUESEA tiết kiệm chi phí">
                </a>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <ul>
                    <li>Chi phí in hóa đơn: chỉ cần in hóa đơn chuyển đổi trong trường hợp khách hàng yêu cầu sử dụng hóa đơn giấy</li>
                    <li>Tiết kiệm thời gian và chi phí chuyển phát hóa đơn: hóa đơn gửi ngay cho khách hàng thông qua phương tiện điện tử như Email, tin nhắn,...)</li>
                    <li>Tiết kiệm không gian lưu trữ hóa đơn: lưu trữ bằng các phương tiện điện tử với chi phí thấp và không gian nhỏ gọn.</li>
                </ul>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <h3 data-wow="slideInRight">Đơn giản công tác kế toán doanh nghiệp:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="~/Content/vnpt_files/hoa-don-dien-tu-don-gian-cong-tac-ke-toan-doanh-nghiep.jpg" data-lightbox="vnpt" data-title="Hóa đơn điện tử BLUESEA đơn giản công tác kế toán doanh nghiệp">
                    <img class="img-responsive" src="~/Content/vnpt_files/hoa-don-dien-tu-don-gian-cong-tac-ke-toan-doanh-nghiep.jpg" alt="Hóa đơn điện tử BLUESEA đơn giản công tác kế toán doanh nghiệp">
                </a>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li>Thuận tiện hạch toán, kế toán, đối chiếu dữ liệu.</li>
                    <li>Không xảy ra mất mát, hư hỏng, thất lạc hóa đơn.</li>

                    <li>Đơn giản hóa việc quản lý, thông kê, tìm kiếm hóa đơn.</li>
                    <li>Thuận tiện cho việc kiểm tra của đơn vị quản lý thuế.</li>
                    <li>Giao diện người dùng thân thiện trực quan với một loạt các công cụ tiên tiến đầy ấn tượng, bạn có thể sử dụng mọi tính năng mà không cần phải đọc hướng dẫn sử dụng.</li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="mySection bgImg">
    <div class="container mySectionText">
        <h2 class="mySectionSubTitle text-center">TẠI SAO NÊN CHỌN <abbr title="Tập đoàn Bưu chính Viễn thông Việt Nam">B</abbr>-INVOICE?</h2>
        <div class="row">
            <div class="col-sm-12">
                <h3 data-wow="slideInLeft">Giải pháp tùy chỉnh:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <a href="~/img/why-choice.jpg" data-lightbox="vnpt" data-title="Hóa đơn điện tử BLUESEA giải pháp tùy chỉnh">
                    <img class="img-responsive" src="~/img/why-choice.jpg" alt="Hóa đơn điện tử BLUESEA giải pháp tùy chỉnh">
                </a>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <ul>
                    <li>Triển khai nhanh chóng.</li>
                    <li>Tiếp tục phát triển và đáp ứng những gì khách hàng mong muốn.</li>
                    <li>
                        Kết nối nhanh chóng với các phần mềm có sẵn của doanh nghiệp như phần mềm bán hàng, phần mềm kế toán, phần mềm
                        <abbr title="CRM là cụm từ tiếng anh “Customer Relationship Management” tạm dịch là quản lý mối quan hệ khách hàng">CRM</abbr>, phần mềm
                        <abbr title="ERP là cụm từ Enterprise Resource Planning tạm dịch là hệ thống hoạch định tài nguyên doanh nghiệp">
                            ERP
                        </abbr> thông qua <abbr title="API là viết tắt của Application Programming Interface (giao diện lập trình ứng dụng)">API</abbr> Web Service.
                    </li>
                    <li>
                        Cho phép doanh nghiệp thống kê, báo cáo, xuất dữ liệu ra các chương trình khai thuế như <abbr title="Hỗ trợ kê khai">HTKK</abbr>,
                        <abbr title="Dịch vụ truyền nhận dữ liệu điện tử trung gian">TVAN</abbr>... giảm thời gian lập tờ khai thuế.
                    </li>
                    <li>
                        Tạo bố cục hóa đơn của riêng bạn từ nhiều tùy chọn mẫu, tải lên biểu trưng của bạn, chọn màu trang web cho thương hiệu của bạn, và chọn cài đặt
                        được cá nhân hóa và bạn đã sẵn sàng để sử dụng
                    </li>
                </ul>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <h3 data-wow="slideInRight">An toàn, bảo mật dữ liệu:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="~/Content/vnpt_files/hoa-don-dien-tu-bao-mat.png" data-lightbox="vnpt" data-title="Hóa đơn điện tử BLUESEA bảo mật">
                    <img class="img-responsive" src="~/Content/vnpt_files/hoa-don-dien-tu-bao-mat.png" alt="Hóa đơn điện tử BLUESEA bảo mật">
                </a>
            </div>
            <div class="col-sm-8">
                <ul>
                    <li>
                        Hóa đơn điện tử có mã xác thực của <abbr title="Tổng cục thuế">
                            TCT
                        </abbr> đảm bảo độ chính xác, an toàn tránh trường hợp hóa đơn bị làm giả như <abbr title="Hóa đơn">HĐ</abbr> giấy.
                    </li>
                    <li>Cam kết bảo mật dữ liệu, lưu trữ miễn phí dữ liệu hóa đơn 10 năm cho khách hàng.</li>
                    <li>Phương án ký số phần cứng linh hoạt: USB-Token cho doanh nghiệp lượng hóa đơn ít &amp; HSM cho doanh nghiệp nhiều chi nhánh, nhiều cửa hàng xuất hóa đơn đồng thời.</li>
                    <li>Mã hóa dữ liệu hóa đơn thông qua giao thức HTTPS (sử dụng TLS 1.2 mã hóa 256 bit).</li>
                    <li>
                        Được lưu trữ trên máy chủ đặt tại 2 IDC ( Internet Data Center) chuẩn Tier3 quốc tế và nhiều lớp bảo mật Firewall khác.
                        Tự động sao lưu đảm bảo rằng dữ liệu kinh doanh của bạn sẽ không bao giờ bị mất, và bạn có thể tải dữ liệu của bạn bất cứ lúc nào và giữ một bản sao an toàn cho mình.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h3 data-wow="slideInLeft">Góp phần bảo vệ môi trường.</h3>
                <p>
                    Tại Việt Nam, <strong>4 tỉ</strong> hóa đơn hóa đơn giấy sử dụng mỗi năm tương đương <strong>1,6 triệu</strong> cây xanh bị đốn để tạo số hóa đơn giấy tương ứng. <br>
                    Vì vậy nếu chúng ta chuyển chỉ <strong>1%</strong> hoá đơn giấy sang dạng điện tử thí sẽ tiết kiệm được khoảng :
                </p>
                <ul>
                    <li><strong>16,000</strong> cây xanh.</li>
                    <li><strong>480,000KWh</strong> (Nguồn năng lượng đủ cho 10 căn hộ sử dụng trong 10 năm).</li>
                    <li><strong>400m³</strong>  (không gian lưu trữ).</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <a href="~/img/three.jpg" data-lightbox="vnpt" data-title="Hóa đơn điện tử BLUESEA bảo mật">
                    <img class="img-responsive" src="~/img/three.jpg" alt="Hóa đơn điện tử BLUESEA bảo mật">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="homeBlog" class="mySection dark">
    <div class="container text-center">
        <h2 class="mySectionTitle">
            Tin tức
        </h2>
        <hr class="mySectionLineShort">
        <div class="row">
            @foreach (var item in Model.news)
            {
                <div class="col-sm-6 col-md-3">
                    <div class="blogRoll" data-wow="fadeInUp">
                        <a href="/tin-tuc/@item.Alt">
                            <img class="blogRollImg lazy" src="@item.Thumnail" data-original="@item.Thumnail" alt="@item.Description" style="display: inline-block;">
                        </a>
                        <h4 class="blogRollTitle"><a href="/tin-tuc/@item.Alt">@item.Title</a></h4>
                        <div class="blogRollSubText">
                            <span>Ngày đăng: @item.Createdate</span>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div>
            <p></p>
            <a class="btn btn-lg btn-default btnAction" href="/tin-tuc">XEM CÁC TIN TỨC</a>
        </div>
    </div>
</div>



<div id="homeClients" class="mySection light">
    <div class="container text-center">
        <h2 class="mySectionTitle">
            Khách hàng của chúng tôi
        </h2>
        <hr class="mySectionLineShort" />
        <div class="rowRes slide">
            @foreach (var client in Model.partner)
            {

                <div class="colRes234">
                    <a href="/khach-hang" title="@client.Title">
                        <img class="img-responsive myImgHoverZoom lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMIAAABtCAMAAADEdU44AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////AAAAVcLTfgAAAC5JREFUeNrswTEBAAAAwqD1T20KP6AAAAAAAAAAAAAAAAAAAAAAAAAAAOBuAgwAUwcAAVTFvpoAAAAASUVORK5CYII=" data-original="@client.Thumnail" alt="@client.Title" />
                    </a>
                </div>
            }
        </div>
        <div>
            <p></p>
            <a class="btn btn-lg btn-default btnAction" href="@Url.Action("Index", "Khachhang")">
                <span class="hidden-xs">
                    XEM CÁC KHÁCH HÀNG
                </span>
                <span class="visible-xs">
                    XEM THÊM
                </span>
            </a>
        </div>
    </div>
</div>

@{ Html.RenderAction("loadPurble", "Home");}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 style="color:rgb(0, 102, 178); text-align:center; font-size:16px;font-weight:bold;" class="modal-title" id="lineModalLabel">ĐĂNG KÍ NHẬN <span style="color:red">1.000</span> HÓA ĐƠN MIỄN PHÍ NGAY HÔM NAY</h3>
            </div>
            <div class="modal-body">
                <div id="getfly-optin-form-iframe-1606876676212"></div>
                <script type="text/javascript">
                    (function () {
                        var r = window.document.referrer != "" ? window.document.referrer : window.location.origin; var regex = /(https?:\/\/.*?)\//g; var furl = regex.exec(r); r = furl ? furl[0] : r; var f = document.createElement("iframe"); const url_string = new URLSearchParams(window.location.search); var utm_source, utm_campaign, utm_medium, utm_content, utm_term, utm_user, utm_account; if ((!url_string.has('utm_source') || url_string.get('utm_source') == '') && document.cookie.match(new RegExp('utm_source' + '=([^;]+)')) != null) { r += "&" + document.cookie.match(new RegExp('utm_source' + '=([^;]+)'))[0]; } else { r += url_string.get('utm_source') != null ? "&utm_source=" + url_string.get('utm_source') : ""; } if ((!url_string.has('utm_campaign') || url_string.get('utm_campaign') == '') && document.cookie.match(new RegExp('utm_campaign' + '=([^;]+)')) != null) { r += "&" + document.cookie.match(new RegExp('utm_campaign' + '=([^;]+)'))[0]; } else { r += url_string.get('utm_campaign') != null ? "&utm_campaign=" + url_string.get('utm_campaign') : ""; } if ((!url_string.has('utm_medium') || url_string.get('utm_medium') == '') && document.cookie.match(new RegExp('utm_medium' + '=([^;]+)')) != null) { r += "&" + document.cookie.match(new RegExp('utm_medium' + '=([^;]+)'))[0]; } else { r += url_string.get('utm_medium') != null ? "&utm_medium=" + url_string.get('utm_medium') : ""; } if ((!url_string.has('utm_content') || url_string.get('utm_content') == '') && document.cookie.match(new RegExp('utm_content' + '=([^;]+)')) != null) { r += "&" + document.cookie.match(new RegExp('utm_content' + '=([^;]+)'))[0]; } else { r += url_string.get('utm_content') != null ? "&utm_content=" + url_string.get('utm_content') : ""; } if ((!url_string.has('utm_term') || url_string.get('utm_term') == '') && document.cookie.match(new RegExp('utm_term' + '=([^;]+)')) != null) { r += "&" + document.cookie.match(new RegExp('utm_term' + '=([^;]+)'))[0]; } else { r += url_string.get('utm_term') != null ? "&utm_term=" + url_string.get('utm_term') : ""; } if ((!url_string.has('utm_user') || url_string.get('utm_user') == '') && document.cookie.match(new RegExp('utm_user' + '=([^;]+)')) != null) { r += "&" + document.cookie.match(new RegExp('utm_user' + '=([^;]+)'))[0]; } else { r += url_string.get('utm_user') != null ? "&utm_user=" + url_string.get('utm_user') : ""; } if ((!url_string.has('utm_account') || url_string.get('utm_account') == '') && document.cookie.match(new RegExp('utm_account' + '=([^;]+)')) != null) { r += "&" + document.cookie.match(new RegExp('utm_account' + '=([^;]+)'))[0]; } else {
                            r += url_string.get('utm_account') != null ? "&utm_account=" + url_string.get('utm_account') : "";
                        } f.setAttribute("src", "https://bluesea.getflycrm.com/api/forms/viewform/?key=NvMZCb3WUGSllrmzfVxo8ctIPaa9C5TGVF1MWC0FEcDCe7Kfle&referrer=" + r); f.style.width = "500px"; f.style.height = "500px"; f.setAttribute("frameborder", "0"); f.setAttribute("marginheight", "0"); f.setAttribute("marginwidth", "0"); var s = document.getElementById("getfly-optin-form-iframe-1606876676212"); s.appendChild(f);
                    })();</script>
            </div>
        </div>

    </div>
</div>
